Reforming the dataset "final_data.csv"

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Creating the path and loading the dataset

In [2]:
pd.options.display.float_format = '{:.9f}'.format
path = "/Users/nicholaihjelme/Desktop/mpak/"
# Final_DATA
choice_data = pd.read_csv(path + '/choice_data.csv', delimiter=';', encoding = 'unicode_escape')
df = choice_data

Printing first 5 rows of our dataset

In [3]:
df.head()

,Year,Make-model-year-fuel,Make,Model,Variant,Size segment,Fuel-size segment,No. of registrations,Shares,Prices (2015-DKK),Ownership cost (DKK),Weight (kg),Fuel,Engine effect (kW),Horsepower,Size (m3),Footprint (m²),Cost/km (DKK),fuelPrice (DKK/unit)
0,2006,toyota-avensis-2006-Benzin,toyota,avensis,"1,8 STW MAN.",Small,BenzinSmall,5428,0.002156418,403349.299100000,346885.205500000,1820,Benzin,108.000000000,139.307692300,12.573440000,8.223261538,0.813669065,11.310000000
1,2006,volkswagen-passat-2006-Diesel,volkswagen,passat,"2,0 TDI",Large,DieselLarge,5378,0.002136554,378504.672900000,352803.014000000,2170,Diesel,103.000000000,128.333333300,12.734904000,8.657173611,0.681879195,10.160000000
2,2006,renault-clio-2006-Benzin,renault,clio,"1,2 8V 60 HK",Small,BenzinSmall,4518,0.001794896,134344.626200000,118899.032100000,1425,Benzin,43.000000000,60.000000000,8.872728000,6.248400000,0.677245509,11.310000000
3,2006,suzuki-swift-2006-Benzin,suzuki,swift,"1,5",Small,BenzinSmall,4406,0.001750401,163536.215000000,135059.819400000,1475,Benzin,68.000000000,94.000000000,9.379500000,6.253000000,0.734415584,11.310000000
4,2006,fiat-punto-2006-Benzin,fiat,punto,"1,2",Small,BenzinSmall,3743,0.001487007,150287.383200000,135188.422500000,1590,Benzin,48.000000000,63.888888890,9.483248000,6.392844444,0.689634146,11.310000000

Number of observations for each year

In [4]:
year = 2006
for x in range(2006,2021):
    obs_count = df.loc[(df['Year'] == year)]
    print(len(obs_count))
    year += 1

186
210
215
198
217
225
232
242
248
246
246
239
234
230
214

In [5]:
year = 2006
for x in range(2006,2021):
     while len(df.loc[df['Year'] == year]) > len(df.loc[df['Year'] == 2006]):
          min_val = df.loc[(df['Year'] == year) & (df['Fuel'] != 'El'), 'No. of registrations'].idxmin()
          df.drop(index=min_val,inplace=True)
     year += 1
df.to_csv(path + 'clogitchoice_data.csv')

Number of observations for each year after deleting

In [6]:
year = 2006
for x in range(2006,2021):
    obs_count = df.loc[(df['Year'] == year)]
    print(len(obs_count))
    year += 1

186
186
186
186
186
186
186
186
186
186
186
186
186
186
186